<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tous les hébergements
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Hôtels
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Campings
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Résidences
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Chambres d’hôtes
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Gîtes
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Thalasso
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Villages Vacances
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Les Agences Immobilières
		</ion-item>   
		  
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>