<ion-view view-title="Activités">
	<ion-content>
	  <ion-list>
		  
		  <a class="item item-icon-right" href="#/app/water-activities">
			Activités nautiques
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/sports-recreation">
			 Sports - détente
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/trade">
			Commerce
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/night-world">
			Monde de la nuit
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/association">
			Associations
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		   
	  </ion-list>
	</ion-content>
</ion-view>