<ion-view view-title="Artisans">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Coups de Cœur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Maçon
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Electricien
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Couvreur – Charpentier
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Plombier – Chauffagiste
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Menuisier
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Carreleur
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Façadier
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Architecte/Maitre d’oeuvre
		</ion-item>   
		  
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		 Sérurier
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Multiservice
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		Peintre
		</ion-item>   
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		 Ferronnier
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		Jardinier
		</ion-item>   
		  
	  </ion-list>
	</ion-content>
</ion-view>