<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Toutes les associations
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Social
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Sportives
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Culturelles / Loisirs
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Environnementales / Patrimoine
		</ion-item>
		 
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>