<ion-view view-title="Associations">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		  Toutes les associations
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Social
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Sportives
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Culturelles 
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Loisirs
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Environnementales 
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Patrimoine
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>