<ion-view view-title="Associations">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		  Toutes les associations
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			D’entraide
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Sportives
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Culturelles et de loisirs
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Professionnelles
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>