<ion-view view-title="Réservez un appoinment">
	<ion-content>
	  <ion-list>
		  
		 <ion-item>
			<form class="block-field appoinmentForm" ng-submit="appoinmentData(appData.appDate,appData.appTime,appData.appMsg,appData.appTerms)">
				<div class="list">
				  <label class="item item-input">
					<input type="text" ng-model="appData.appDate" pikaday="myPickerObject" format="MM/DD/YYYY" placeholder="Date">
				  </label>
					
				  <label class="item item-input position-static">
					<input type="text" ng-model="appData.appTime" time-picker placeholder="Time">
				  </label>
					
				  <label class="item item-input">
					<textarea  ng-model="appData.appMsg" placeholder="Comments"></textarea>
				  </label>
					
				  <ion-checkbox ng-model="appData.appTerms" ng-change="agreeTerms();"> Terms and conditions</ion-checkbox>
				  	
				  <!--<input type="checkbox" ng-model="appData.appTerms" ng-click="term($event);"/>-->
				</div>
				 
				<button class="button button-block button-positive">Book an appoinment</button>
			</form>
		  </ion-item>
		  
	  </ion-list>
	</ion-content>
</ion-view>