<ion-view view-title="Réservez un appoinment">
	<ion-content>
	  <ion-list>
		  
		 <ion-item>
			<form class="block-field appoinmentForm" ng-submit="appoinmentData(appData.appDate,appData.appTime,appData.appMsg,appData.appTerms,appData.appId)">
				<div class="list">
				  <label class="item item-input">
					<input type="text" ng-model="appData.appDate" id="date" pick-date data-business="{{appData.appId}}" placeholder="Date" required>
				  </label>
					
				  <label class="item item-input position-static">
					<input type="text" id="appTime" ng-model="appData.appTime" time-picker placeholder="Time" required>
				  </label>
					
				  <label class="item item-input">
					<textarea  ng-model="appData.appMsg" placeholder="Comments"></textarea>
				  </label>
					
				  <ion-checkbox ng-model="appData.appTerms" ng-change="agreeTerms();" required> Terms and conditions</ion-checkbox>
				</div>
				 
				<button class="button button-block button-positive">Book an appoinment </button>
			</form>
		  </ion-item>
		  
	  </ion-list>
	</ion-content>
</ion-view>