<ion-view view-title="Les Communes">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Toutes les communes
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			 Rivedoux-Plage
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			La Flotte
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Saint-Martin-de-Ré
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		 	 Sainte-Marie-de-Ré / La Noue
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Le Bois-Plage-en-Ré
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			La Couarde-sur-Mer
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Loix
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Ars-en-Ré
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Saint-Clément-des-Baleines
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Les Portes-en-Ré
		</ion-item>  
		 
	  </ion-list>
	</ion-content>
</ion-view>