<ion-view view-title="Pratique">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			La carte de l’île de Ré
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Annuaire
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Tous les Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Tous les Bons Plans
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		 	Infos Pratiques
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>