<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tous les lieux culturels
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Arts / Artistes
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Musées / Cinéma
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		  Concerts / Spectacles
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Musique
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Librairies
		</ion-item>
		 
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>