<ion-view view-title="Culture">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		 Tous les lieux culturels
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		 Cinéma
		</ion-item>
		 
		  <ion-item menu-close ng-click="categorySearch($event)">
		  Musés
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Arts
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Concerts / Spectacles
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Musique
		</ion-item>
		  
		
	  </ion-list>
	</ion-content>
</ion-view>