<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Location de Vélos
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Location de Voiture
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Autocars / Navettes 
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Taxis
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bus Discothèque
		</ion-item>
		 
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>