<ion-view view-title="Bien manger">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		 Tous les restaurants
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Gastronomiques
		</ion-item>
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		 Brasseries
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Restaurants
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Restaurants fruit de mer
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Dégustation Fruits de Mer
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Bars Pubs Cafés
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		 Bars à Vins
		</ion-item> 
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Pizzerias
		</ion-item> 
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		 A Emporter
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Cuisine du Monde
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>