<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tous les restaurants
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Gastronomiques
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Restaurants
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Brasseries
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Dégustation Fruits de Mer
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Cuisine du Monde
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Pizzerias
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 A Emporter
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		Food Truck / Traiteurs
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Bars à Vins / Caves à Vins
		</ion-item> 
		  
		 <ion-item menu-close ng-click="categorySearch($event)">
		 Chocolatiers / Glaciers
		</ion-item> 
		  
	  </ion-list>
	</ion-content>
</ion-view>