<ion-view>
	<ion-content>
	  <ion-list>
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tous les événements
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
		  Manifestations culturelles
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
		  Fêtes religieuses
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
		  Manifestations sportives
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Foires rurales / artisanales
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Marché estival
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
		 Autres
		</ion-item>
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>