<ion-view view-title="Les raisons de venir">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close>
			L’île de Ré
		</ion-item>
		  
		<ion-item menu-close>
			L’histoire
		</ion-item>
		  
		<ion-item menu-close>
			Un paradis d’activités
		</ion-item>
		  
		<ion-item menu-close>
			Une terre de saveurs
		</ion-item>
		 
		<ion-item menu-close>
		 	Une nature unique
		</ion-item>
		  
		<ion-item menu-close>
		 	Le vélo, un art de vivre
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>