<ion-view view-title="Alimentation Generale">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Coups de Cœur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Boulangerie
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Boucherie - Charcuterie
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Poissonnerie
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Epicerie
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Primeur
		</ion-item>
		 
		 
	  </ion-list>
	</ion-content>
</ion-view>