<ion-view view-title="Comment venir">
	<ion-content>
	  
		<ion-list>
		  <a class="item" href="#/">
			Avion
		  </a>
		  
		  <a class="item" href="#/">
			 Train
		  </a>
		  
		  <a class="item" href="#/">
			Voiture
		  </a>
			
			 <a class="item" href="#/">
			A Pied ou à Vélo
		  </a>
		  
		  <a class="item" href="#/">
			 A Moto
		  </a>
			
			 <a class="item" href="#/">
			En Bus
		  </a>
		  
		   
			<a class="item" href="#/">
			 En Taxi
		  </a>
		   
		  
		  <a class="item" href="#/">
			Transports à la Personne
		  </a>
		  <a class="item" href="#/">
			En Bateaux
		  </a>
		 
		</ion-list>
	</ion-content>
</ion-view>