<ion-view view-title="Main Menu">
	<ion-content>
	  <ion-list>
		<ion-item menu-close href="#/">En Avion</ion-item>
		<ion-item menu-close href="#/">En Train</ion-item>
		<ion-item menu-close href="#/">En Voiture</ion-item>
		<ion-item menu-close href="#/">A Moto</ion-item>
		<ion-item menu-close href="#/">En Bateaux</ion-item>
		<ion-item menu-close href="#/">En Taxi</ion-item>
		<ion-item menu-close href="#/">En Bus</ion-item>
		<ion-item menu-close href="#/">Transports à la Personne</ion-item>
		<ion-item menu-close href="#/">A Pied ou à Vélo</ion-item>
	  </ion-list>
	 <button class="button button-calm button-custom" ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>