<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Offices du Tourisme
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Agences de Voyages
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Ré’Apps Application
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Ré’Apps Bornes
		</ion-item>
		 
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>