<ion-view view-title="{{viewTitle}}" hide-back-button="false">
	 
	<ion-content>		 
		<ion-list>
			<div ng-hide="listItems.error == 'Not found' || listItems.length <= 0" class="filter">
				<label class="filter-label">Filter by city :</label>
				<select ng-model="city" ng-change="cityFilter(city)">
					<option ng-repeat="name in cities" value="{{name}}">{{name}}</option>
				</select>
			</div>
			
			<div class="loader" ng-show="loaderIcon">
				 <ion-spinner icon="android"></ion-spinner>
			</div>
			
			<div class="map-wrapper" ng-hide="listItems.error == 'Not found' || listItems.length <= 0 "> 
				<ng-map zoom="8" center="[46.190101, -1.395228]">
					<marker draggable="false" ng-repeat="list in listItems" position="{{list.latitude}},{{list.longitude}}" no-watcher="true"></marker>
				</ng-map>
			</div>
			
			<ion-item ng-repeat="list in listItems" ng-class="{'hide' : listItems.error}">
				<div class="business-list-wrapper">
					<h2><a ng-click="viewBusiness($index)" class="business-name">{{list.nom}}</a> <span class="circle {{list.available}}"></span></h2>
					<p class="text-blue">{{list.ville}}</p>
					
					<div class="list-inner-content">
						<p>{{list.adresse}}</p>
						<p>{{list.cp}} {{list.ville}}</p>
						<p ng-if="list.tel!=''" ng-class="{ 'hide' : !list.tel }">Tel : {{list.tel}} </p>
						<p ng-if="list.fax!=''" ng-class="{ 'hide' : !list.fax }">Fax : {{list.fax}} </p>
					</div>
					
					<button ng-click="viewBusiness($index)" class="button button-outline button-positive button-medium mb15">Obtenir l'itinéraire</button>
					<br>
					<button ng-click="bookAppoinment(list.id_busines);" class="button button-outline button-positive button-medium">Réservez appoinment</button>
				</div>
			</ion-item>
			
			<ion-item ng-show="!loaderIcon" ng-if="listItems.error == 'Not found' || listItems.length <= 0">
				<p>Aucun résultat</p>
			</ion-item>
		 
		</ion-list>
		
	</ion-content>
</ion-view>