<ion-view view-title="iledere apps">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="list in listItems">
				<div class="business-list-wrapper">
					<h2>{{list.title}}</h2>
					<p>{{list.desc}}</p>
					 
					<div class="slidebox-wrapper">
						<button class="prev" ng-click="Previous();"><i class="icon ion-chevron-left"></i></button>
						<button class="next" ng-click="Next();"><i class="icon ion-chevron-right"></i></button>
						<ion-slide-box show-pager=false does-continue=true>
						  <ion-slide ng-repeat="img in list.images" >
							<img class="full-image" src={{img.imgURL}}>
						  </ion-slide>
						</ion-slide-box>
					</div>
					
					<div class="list-inner-content">
						<p>Tél : {{list.tel}} </p>
						<p>E-mail : {{list.email}}</p>
						<p>Site internet : <a href="#">{{list.url}}</a></p>
					</div>
					
					<button class="button button-calm button-outline">En savoir plus </button>
					
				</div>
			</ion-item>
		</ion-list>
		
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreDataAvailable" immediate-check=false distance="3%"></ion-infinite-scroll>
		
	</ion-content>
</ion-view>