<ion-view view-title=" Mode/deco = Shopping">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Coups de Cœur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Mode
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Déco – Ameublement
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Brocante
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Opticiens
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Fleuristes – Pépinières
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Sport – Surf Shop
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Bijoux – Accessoires
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Électroménager
		</ion-item>   
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Bricolage
		</ion-item> 
		 
	  </ion-list>
	</ion-content>
</ion-view>