<ion-view view-title="Patrimoine et nature">
	<ion-content>
	  <ion-list>
		<ion-item menu-close ng-click="categorySearch($event)">
			 Tout le Patrimoine
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Tous les Lieux Nature
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Promenades en Mer
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Visites de l’Estran
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Visites des Marais
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Ecomusée
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>