<ion-view view-title="Patrimoine et nature">
	<ion-content>
	  <ion-list>
		<ion-item menu-close ng-click="categorySearch($event)">
			Tout le patrimoine
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Tous les lieux nature
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Promenade en mer
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Visite de l’estran
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Visites des marées
		</ion-item>
		<ion-item menu-close ng-click="categorySearch($event)">
			Ecomusée
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>