<ion-view view-title="Monde de la nuit">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		 Tout le monde de la nuit
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bar
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		  Discothèques
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Festivals
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Navettes
		</ion-item>
	  </ion-list>
	</ion-content>
</ion-view>