<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tout le monde de la nuit
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bars
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		  Discothèques
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Festivals
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Navettes
		</ion-item>
	  </ion-list>
	  <button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>