<ion-view view-title="Nos coups de coeur !" hide-back-button="false">
	<ion-content>
	  <ion-list>
		<ion-item ng-repeat="list in articleList">
			<div class="favorite-wrap">
				
				<!--<div class="img-wrapper">
					<img class="img-responsive" src="../img/favorite-img.png"/>
					<img class="heart" src="../img/like.png"/>
				</div>-->
				
				<h3>{{list.titre}}</h3>
				
				<p>{{list.descriptif}}</p>
				<a ng-click="viewArticle(list.id_article)">En savoir plus</a>
			</div>
		</ion-item>
		
	  </ion-list>
	</ion-content>
</ion-view>