<ion-view view-title="iledere apps">
  <ion-content>
	 <img class="logo" src="../img/loog.png" alt="Logo"/>
     
	 <form ng-submit="searcForm()">
		  <div class="list list-inset">
			  <label class="item item-input">
				<input type="text" placeholder="Où voulez-vous aller ?" ng-model="loginData.location1">
			  </label>
			  
			  <label class="item item-input">
				<input type="text" placeholder="Où voulez-vous aller ?" ng-model="loginData.location2">
			  </label>
			  
			  <button class="button button-block button-calm" type="submit">Search</button>
		  </div>
		</form>
  </ion-content>
</ion-view>
<!--playlists-->
