<ion-view view-title="Services">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Coups de Cœur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Laverie -  Pressing
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Conciergerie - Ménage
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Informatique - Téléphonie
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Couture - Retouche
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Salle de Sport
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Cordonnerie – Clé Minute
		</ion-item> 
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Toilettage
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Parapharmacie
		</ion-item>   
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		Tabac - Vap / Presse
		</ion-item> 
		 
	  </ion-list>
	</ion-content>
</ion-view>