<!--<ion-nav-bar animation="nav-title-slide-ios7" ype="bar-negative" back-button-type="button-icon" back-button-icon="ion-arrow-left-c"></ion-nav-bar>-->
<ion-view view-title="Main Menu">
	<ion-content>
	  <ion-list>
		<ion-item href="#" menu-close>
		 	L’île de Ré
		</ion-item>
		<ion-item href="#" menu-close>
		  Séjour
		</ion-item>
		  <ion-item href="#/app/sub-menu">
		 	Découverte
		</ion-item>
		<ion-item href="#" menu-close>
		  Activités
		</ion-item>
		  <ion-item href="#" menu-close>
		 	Actualités
		</ion-item>
		<ion-item href="#" menu-close>
		 Contact
		</ion-item>
	  </ion-list>
	</ion-content>
</ion-view>