<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Toutes les activités
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tennis / Squash
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Golf
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Ecuries / Poney Club
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Natation
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Skate
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Danse
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Relaxation
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>