<ion-view view-title="Sports - détente">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
			Toutes les activités
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tennis / Squash
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Golf
		</ion-item>

		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Ecuries / Poney Club
		</ion-item>
		  
		 <ion-item menu-close ng-click="categorySearch($event)">
		  Enseignement
		</ion-item> 
		 
		  <ion-item menu-close ng-click="categorySearch($event)">
		  Skate
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Danse
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Relaxation
		</ion-item>
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		  Pour les Enfants
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>