<ion-view view-title="Main Menu">
	<ion-content>
	  <ion-list>
		  <a class="item item-icon-right" href="#/app/accommodation">
			Hébergements
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/eat-well">
			 Bien manger
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/how-to-come">
			Comment venir
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/deplacer">
			 Vous déplacer
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/informer">
			Vous informer
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		   
		  
		<!--<ion-item href="#/app/accommodation">Hébergements</ion-item>
		<ion-item href="#/app/eat-well">Bien manger</ion-item>
		<ion-item href="#/app/how-to-come">Comment venir</ion-item>
		<ion-item href="#/app/deplacer">Vous déplacer</ion-item>
		<ion-item href="#/app/informer">Vous informer</ion-item>-->
	  </ion-list>
	</ion-content>
</ion-view>