<ion-view view-title="Main Menu">
	<ion-content>
	  <ion-list>
		<ion-item href="#/app/accommodation">Hébergements</ion-item>
		<ion-item href="#/app/eat-well">Bien manger</ion-item>
		<ion-item href="#/app/how-to-come">Comment venir</ion-item>
		<ion-item href="#/app/deplacer">Vous déplacer</ion-item>
		<ion-item href="#/app/informer">Vous informer</ion-item>
	  </ion-list>
	 <button class="button button-calm button-custom" ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>