<!--<ion-nav-bar animation="nav-title-slide-ios7" ype="bar-negative" back-button-type="button-icon" back-button-icon="ion-arrow-left-c"></ion-nav-bar>-->
<ion-view view-title="Main Menu">
	<ion-content>
	  <ion-list>
		<ion-item href="#/app/festival">
		 	Fêtes et animations
		</ion-item>
		<ion-item href="#/app/nature">
		  Patrimoine et nature
		</ion-item>
	  </ion-list>
	 <button class="button button-calm button-custom" ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
	</ion-content>
</ion-view>