<ion-view view-title="Commerce">
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event,1)">
		  Tous les commerces
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Alimentaires
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		  Terroirs
		</ion-item>
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		  Artisans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Souvenirs
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Nautique
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Shopping
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Laveries
		</ion-item>
		  
		  <ion-item menu-close ng-click="categorySearch($event)">
		  Banques
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Services ménages
		</ion-item>
		 
		<ion-item menu-close ng-click="categorySearch($event)">
		  Autres
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>