<ion-view view-title="Commerce">
	<ion-content>
	  <ion-list>
		  <a class="item item-icon-right" href="#/app/made-in-re">
			Made in Ré
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/grocery">
			 Alimentation Generale
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/mode-shopping">
			 Mode/deco = Shopping
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/services">
			 Services
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/artisans">
			Artisans
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>
		  
		  <a class="item item-icon-right" href="#/app/barber-wellness">
			Coiffure / Bien-Etre
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/auto-boat">
			Auto – Moto/ Bateau
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/banking-insurance">
			Banques / Assurances
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/culture">
			Culture
			<i class="icon icon18 ion-chevron-right"></i>
		  </a>

	  </ion-list>
	</ion-content>
</ion-view>