<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Tous les commerces
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Alimentation Générale
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Boulangeries
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Made in Ré
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Mode / Déco
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Tabac / Presse
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Services
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coiffure / Bien-Etre
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Banques / Assurances
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Artisans
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Auto - Moto / Bateau
		</ion-item>
		 
	  </ion-list>
	</ion-content>
</ion-view>