<ion-view view-title="iledere apps">
	<ion-content>		 
		<ion-list>
			<ion-item ng-repeat="list in listItems">
				<div class="business-list-wrapper" ng-class="{'hide': list.error}">
					
					<h2>{{list.nom}}</h2>
					<p class="text-blue">{{list.ville}}</p>
					<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
					<div class="list-inner-content">
						<p>{{list.adresse}}</p>
						<p>{{list.cp}} {{list.ville}}</p>
						<p ng-if="list.tel!=''" ng-class="{ 'hide' : !list.tel }">Tel : {{list.tel}} </p>
						<p ng-if="list.fax!=''" ng-class="{ 'hide' : !list.fax }">Fax : {{list.fax}} </p>
					</div>
					
					<p ng-if="!list.error">No business found</p>
					<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
					
					<!--<button class="button button-calm button-outline" ng-click="viewMore($index)">En savoir plus </button>-->
					
				</div>
			</ion-item>
		</ion-list>
		
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreDataAvailable" immediate-check=false distance="3%"></ion-infinite-scroll>
		
	</ion-content>
</ion-view>