<ion-view view-title="{{listItems.nom}}" hide-back-button=false>
	<ion-content>		 
		<ion-list>
			<ion-item class="no-border">
				<div class="business-list-wrapper">
					<h2 ng-click="">{{listItems.nom}}</h2>
					<p class="text-blue">{{listItems.ville}}</p>
					
					<ng-map  center="48.8567,2.3508" class="mb20" zoom="14">
						<marker position="48.8567,2.3508"></marker>
					</ng-map>
					
					<div class="list-inner-content m7">
						<p>{{listItems.adresse}}</p>
						<p>{{listItems.cp}} {{listItems.ville}}</p>
						<p ng-if="listItems.tel!=''" ng-class="{ 'hide' : !listItems.tel }">Tel : {{listItems.tel}} </p>
						<p ng-if="listItems.fax!=''" ng-class="{ 'hide' : !listItems.fax }">Fax : {{listItems.fax}} </p>
						<p ng-if="listItems.pays !=''" ng-class="{ 'hide' : !listItems.pays }">Pays : {{listItems.pays}} </p>
						<p ng-if="listItems.categ !=''" ng-class="{ 'hide' : !listItems.categ }">Categ : {{listItems.categ}} </p>
					</div>
				</div>
			</ion-item>
			 
		</ion-list>
		
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreDataAvailable" immediate-check=false distance="3%"></ion-infinite-scroll>
		
	</ion-content>
</ion-view>