<ion-view>
	<ion-content>
	  <ion-list>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Toutes les activités
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Coups de Coeur
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Bons Plans
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		 Nautisme
		</ion-item>
		
		<ion-item menu-close ng-click="categorySearch($event)">
		 Paddle 
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Planche à voile
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Surf
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
			Kite surf
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Kayak
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		  Jet ski
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Bouées Tractées
		</ion-item>
		  
		<ion-item menu-close ng-click="categorySearch($event)">
		   Plongée
		</ion-item> 
		  
		 
	  </ion-list>
	  <!--<button class="button button-calm button-custom"  ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>-->
	</ion-content>
</ion-view>