// Base
$base-background-color: #d2e4f8;
$font-size-base: 16px !default;
$line-height-base:1.4 !default;

// Forms
$item-default-border:#1b8dd9;
$input-color-placeholder:#999;

/*$item-default-bg:transparent;*/
$item-default-active-bg:#d3e0ef;
$item-default-active-border:#58a1f3;